pandas
numpy
fastapi
uvicorn[standard]
streamlit
apscheduler
requests
scikit-learn
lightgbm
catboost
xgboost
matplotlib
geopandas
cartopy
seaborn
plotly
openmeteo-requests
requests-cache
retry-requests
urllib3==2.2.3
